1. 데이터 전처리

In [ ]:
# 데이터 불러오기
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/manu/tank.csv')

In [ ]:
# class 레이블인코딩
df["TAG"]=df["TAG"].replace({"OK" : 0, "NG" :1 })

In [ ]:
df

,STD_DT,NUM,MELT_TEMP,MOTORSPEED,MELT_WEIGHT,INSP,TAG
0,2020-03-04 0:00,0,489,116,631,3.19,0
1,2020-03-04 0:00,1,433,78,609,3.19,0
2,2020-03-04 0:00,2,464,154,608,3.19,0
3,2020-03-04 0:00,3,379,212,606,3.19,0
4,2020-03-04 0:00,4,798,1736,604,3.21,0
...,...,...,...,...,...,...,...
835195,2020-04-30 23:59,835195,755,1743,318,3.21,0
835196,2020-04-30 23:59,835196,385,206,317,3.19,0
835197,2020-04-30 23:59,835197,465,148,316,3.20,0
835198,2020-04-30 23:59,835198,467,0,314,3.19,0
835199,2020-04-30 23:59,835199,453,125,312,3.20,0

In [ ]:
# 날짜 칼럼 처리
df["STD_DT"] = pd.to_datetime(df["STD_DT"])
df["month"] = df["STD_DT"].dt.month
df["day"] = df["STD_DT"].dt.day

In [ ]:
# 상관관계 높은 칼럼만 추출
df2 = df.drop(columns=["STD_DT", "NUM","MELT_WEIGHT", "TAG","INSP"])

In [ ]:
df2

        MELT_TEMP  MOTORSPEED  month  day
0             489         116      3    4
1             433          78      3    4
2             464         154      3    4
3             379         212      3    4
4             798        1736      3    4
...           ...         ...    ...  ...
835195        755        1743      4   30
835196        385         206      4   30
835197        465         148      4   30
835198        467           0      4   30
835199        453         125      4   30

[835200 rows x 4 columns]

In [ ]:
# 스케일링
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df3 = scaler.fit_transform(df2)

In [ ]:
df4 = pd.DataFrame(df3, columns= df2.columns)

In [ ]:
df4

        MELT_TEMP  MOTORSPEED     month       day
0       -0.157476   -0.537634 -1.035098 -1.476799
1       -0.594030   -0.597062 -1.035098 -1.476799
2       -0.352366   -0.478207 -1.035098 -1.476799
3       -1.014992   -0.387502 -1.035098 -1.476799
4        2.251365    1.995848 -1.035098 -1.476799
...           ...         ...       ...       ...
835195   1.916154    2.006795  0.966092  1.603441
835196  -0.968219   -0.396885  0.966092  1.603441
835197  -0.344571   -0.487590  0.966092  1.603441
835198  -0.328979   -0.719044  0.966092  1.603441
835199  -0.438118   -0.523560  0.966092  1.603441

[835200 rows x 4 columns]

2. 모델 학습

In [ ]:
from tensorflow.keras import *
from tensorflow.keras.layers import *
from tensorflow.keras.callbacks import *
from sklearn.model_selection import *

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
x_train, x_valid, y_train, y_valid = train_test_split(df4, df["TAG"], test_size = 0.2)

In [ ]:
es = EarlyStopping(patience=5, restore_best_weights=True)

In [ ]:
model = Sequential()
model.add(Dense(1028, activation = "relu", input_dim = x_train.shape[1]))
# model.add(Dense(514, activation="relu"))
model.add(Dense(2, activation = "softmax"))

In [ ]:
model.compile(optimizer = "adam", metrics="acc", loss = "sparse_categorical_crossentropy" )

In [ ]:
model.fit(x_train,y_train, callbacks =[es], epochs=20)

Epoch 1/20
20879/20880 [============================>.] - ETA: 0s - loss: 0.0642 - acc: 0.9723

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0642 - acc: 0.9723
Epoch 2/20
20870/20880 [============================>.] - ETA: 0s - loss: 0.0381 - acc: 0.9833

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0381 - acc: 0.9833
Epoch 3/20
20862/20880 [============================>.] - ETA: 0s - loss: 0.0342 - acc: 0.9850

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0342 - acc: 0.9850
Epoch 4/20
20870/20880 [============================>.] - ETA: 0s - loss: 0.0322 - acc: 0.9858

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0322 - acc: 0.9858
Epoch 5/20
20858/20880 [============================>.] - ETA: 0s - loss: 0.0310 - acc: 0.9864

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0310 - acc: 0.9864
Epoch 6/20
20866/20880 [============================>.] - ETA: 0s - loss: 0.0303 - acc: 0.9867

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0303 - acc: 0.9867
Epoch 7/20
20865/20880 [============================>.] - ETA: 0s - loss: 0.0295 - acc: 0.9869

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0295 - acc: 0.9869
Epoch 8/20
20867/20880 [============================>.] - ETA: 0s - loss: 0.0289 - acc: 0.9873

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0289 - acc: 0.9873
Epoch 9/20
20874/20880 [============================>.] - ETA: 0s - loss: 0.0285 - acc: 0.9874

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 47s 2ms/step - loss: 0.0285 - acc: 0.9874
Epoch 10/20
20870/20880 [============================>.] - ETA: 0s - loss: 0.0283 - acc: 0.9875

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0283 - acc: 0.9875
Epoch 11/20
20874/20880 [============================>.] - ETA: 0s - loss: 0.0278 - acc: 0.9876

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 47s 2ms/step - loss: 0.0278 - acc: 0.9876
Epoch 12/20
20880/20880 [==============================] - ETA: 0s - loss: 0.0276 - acc: 0.9877

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 45s 2ms/step - loss: 0.0276 - acc: 0.9877
Epoch 13/20
20857/20880 [============================>.] - ETA: 0s - loss: 0.0273 - acc: 0.9878

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 45s 2ms/step - loss: 0.0273 - acc: 0.9878
Epoch 14/20
20878/20880 [============================>.] - ETA: 0s - loss: 0.0272 - acc: 0.9877

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 45s 2ms/step - loss: 0.0272 - acc: 0.9877
Epoch 15/20
20874/20880 [============================>.] - ETA: 0s - loss: 0.0270 - acc: 0.9880

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0271 - acc: 0.9880
Epoch 16/20
20862/20880 [============================>.] - ETA: 0s - loss: 0.0270 - acc: 0.9879

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 47s 2ms/step - loss: 0.0270 - acc: 0.9879
Epoch 17/20
20873/20880 [============================>.] - ETA: 0s - loss: 0.0266 - acc: 0.9881

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0266 - acc: 0.9881
Epoch 18/20
20876/20880 [============================>.] - ETA: 0s - loss: 0.0265 - acc: 0.9882

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0265 - acc: 0.9881
Epoch 19/20
20878/20880 [============================>.] - ETA: 0s - loss: 0.0264 - acc: 0.9882

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 46s 2ms/step - loss: 0.0264 - acc: 0.9882
Epoch 20/20
20866/20880 [============================>.] - ETA: 0s - loss: 0.0263 - acc: 0.9883

WARNING:tensorflow:Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: loss,acc

20880/20880 [==============================] - 45s 2ms/step - loss: 0.0263 - acc: 0.9883

In [ ]:
result = model.predict(x_valid)

5220/5220 [==============================] - 7s 1ms/step

In [ ]:
result = result.argmax(1)

In [ ]:
# RandomFores 실험
# from sklearn.ensemble import RandomForestClassifier
# rfc = RandomForestClassifier(n_jobs=-1, random_state=42)
# rfc.fit(x_train, y_train)
# result = rfc.predict(x_valid)

In [ ]:
# XGBoost 실험
# from xgboost import XGBClassifier
# xgc = XGBClassifier()
# xgc.fit(x_train, y_train)
# result = xgc.predict(x_valid)

3. 결과 확인

In [ ]:
from sklearn.metrics import precision_score, recall_score
accuracy_score(y_valid, result)

0.9897928639846744

In [ ]:
confusion_matrix(y_valid, result )

array([[130691,    914],
       [   791,  34644]])

In [ ]:
precision_score(y_valid, result, pos_label=1)

0.9742955171831936

In [ ]:
recall_score(y_valid, result, pos_label=1)

0.9776774375617328

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_valid, result)

0.9759835476737144